main {
    padding: 2rem;
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 2rem;
    padding-top: 1.5rem;
    margin-bottom: 20px;
    color: $grayish-Blue;
    font-size: .75rem;
    min-height: 220px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: bottom 25px right 25px;
    background-size: 55px 55px;
    border-top: 4px solid;
}

.card:nth-child(1) {
    border-top-color: $cyan;
    background-image: url(../images/icon-supervisor.svg);

}

.card:nth-child(2) {
    border-top-color: $red;
    background-image: url(../images/icon-team-builder.svg);
}

.card:nth-child(3) {
    border-top-color: $orange;
    background-image: url(../images/icon-karma.svg);
}

.card:nth-child(4) {
    border-top-color: $blue;
    background-image: url(../images/icon-calculator.svg);
}

.card h2 {
    font-size: 1.25rem;
    color: $very-Dark-Blue;
    margin-bottom: .5rem;
}

.card p {
    line-height: 2;


}

@media screen and (min-width:375px) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-content: center;
        gap: 2rem;
        margin-top: 30px;
    }

    .card {
        max-width: 350px;
        margin-bottom: 0;
    }

    .card:nth-child(1),
    .card:nth-child(4) {
        align-self: center;
        grid-row: 1/3;
    }

    .card:nth-child(1) {
        grid-column: 1/2;
    }

    .card:nth-child(2),
    .card:nth-child(3) {
        grid-column: 2/3;
    }

    .card:nth-child(4) {
        grid-column: 3/4;
    }
}